<div class = "comments-form"> 
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
  
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>

    <%= form.label :body %>
    <%= form.text_field :body %>

  <div >
    <%= form.submit class: "comments-form-btn" %>
  </div>
  
  <% end %> 
</div>
